<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h4 class="mb-4 title">References</h4>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/momo.png" alt="..." />
                    <h4>MOHAMMED</h4>
                    <p class="text-muted">WEB DEVLOPER</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank"
                        href="https://www.linkedin.com/in/chareuf-afroul-mohammed-020533205/"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/dounia.png" alt="..." />
                    <h4>TIFFANY</h4>
                    <p class="text-muted">WEB DEVLOPER</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank"
                        href="https://www.linkedin.com/in/tiffanytassin/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted"> Our team thrives on challenges and web development. She is as addicted to
                    strategy as she is to content creation. It does not make people jealous. </p>
            </div>
        </div>
    </div>
</section>