<!-- <header class="headerone">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">

                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href routerLink="/" class="is-active">Home</a>
                    </li>
                    <li>
                        <a href="#apropos">About</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#">Reach</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header> -->

<!-- HEADER BURGER -->

<header class="header">
    <a href="" class="logo">Khalil's CV</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="#home" class="is-active">Home</a></li>
      <li><a href="#apropos">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#team">Team</a></li>
    </ul>
  </header>
  