<footer class="footer">
<div class="container text-center">
    <a class="cc-instagram btn btn-link" target="blank" href="https://www.instagram.com/cell_64/?hl=fr">
        <i class="fab fa-instagram fa-2x" aria-hidden="true">
        </i>
    </a>
    <a class="cc-twitter btn btn-link" target="blank" href="https://twitter.com/hellinacell64">
        <i class="fab fa-twitter fa-2x" aria-hidden="true">
        </i>
    </a>
    <a class="cc-github btn btn-link" target="blank" href="https://www.linkedin.com/in/khalil-nid-belkacem-7795b6a5/">
        <i class="fab fa-linkedin fa-2x" aria-hidden="true">
        </i>
    </a>
</div>
<div class="text-center text-muted">
    <p>© All rights reserved.</p>
</div>
</footer>