/* ABOUT */

div.card-body{
    min-height: 190px;
    margin-left: 38%;
}

.title{
    font-weight: 700;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}