<section id="apropos">
    <div class="card-body">
        <div class="h4 mb-4 title">About</div>
        <div class="row">
            <div class="col-sm4">
                <strong class="text-uppercase">Date of Birth</strong>
            </div>
            <div class="col-sm-8">March 07, 1995</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm4">
                <strong class="text-uppercase">Email:</strong>
            </div>
            <a href="mailto:sachever6@gmail.com">sachever6@gmail.com</a>
        </div>
        <div class="row mt-3">
            <div class="col-sm4">
                <strong class="text-uppercase">Phone:</strong>
            </div>
            <div class="col-sm-8">+33 7 53 06 69 41</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm4">
                <strong class="text-uppercase">City:</strong>
            </div>
                 <div class="col-sm-8">Pau, France</div>
        </div>
        <div class="row">
            <div class="col-sm4">
                <strong class="text-uppercase">Language:</strong>
            </div>
                 <div class="col-sm-8">French, Arabic, English</div>
        </div>
    </div>
</section>