<h4 id="skills" class="text-center mb-4 title">Technology Skills</h4>





<!-- BARRE DE PROG-->

<section class="myskill">
    <div class="myskillr">
    <article class="barred">
        <label class="barre" for="vert">PHP:</label>
        <progress id="vert" max="100" value="70">70%</progress>
        <label class="barre" for="vert">SQL:</label>
        <progress id="vert" max="100" value="75">75%</progress>
        <label class="barre" for="jaune">JS:</label>
        <progress id="jaune" max="100" value="65">65%</progress>
        <label class="barre" for="vert">HTML:</label>
        <progress id="vert" max="100" value="80">80%</progress>
    </article>
</div>
<div class="myskillr">
    <article class="barreg">
        <label class="barre" for="vert">CSS:</label>
        <progress id="vert" max="100" value="80">80%</progress>
        <label class="barre" for="vert">SYMFONY:</label>
        <progress id="vert" max="100" value="80">80%</progress>
        <label class="barre" for="jaune">ANGULAR:</label>
        <progress id="jaune" max="100" value="45">45%</progress>
        <label class="barre" for="rouge">NODEJS:</label>
        <progress id="rouge" max="100" value="30">30%</progress>
    </article>

</div>