<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img class="mx-auto rounded-circle"  src="assets/img/khalil.jpg" alt="Khalil NID BELKACEM">
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">fullStack web Developer</span>
                    <h1 class="mt-4">Khalil Nid Belkacem</h1>
                    <p class="p-des mt-3 mb-4">Hi I'm Khalil Nid Belkacem. Currently I am web Developer

                        Lover of innovation and everything related to generate new knowledge. Face problems with a smile
                        and
                        solve them as soon as possible. Very calculated about the time I spend and work I do. </p>
                    
                </div>

              
            </div>
        </div>
    </div>
</section>



